@import './variables.css';

@font-face {
    font-family: "Atkinson-Hyperlegible-Regular";
    src: url("/fonts/Atkinson-Hyperlegible-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RedHatMono-Regular";
    src: url("/fonts/RedHatMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RedHatDisplay-Regular";
    src: url("/fonts/RedHatDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RedHatDisplay-Medium";
    src: url("/fonts/RedHatDisplay-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RedHatDisplay-Bold";
    src: url("/fonts/RedHatDisplay-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    text-wrap: pretty;
}

body {
    font-family: "Atkinson-Hyperlegible-Regular", sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg-accent);
    font-size: clamp(1.125rem, 0.97rem + 0.78vw, 1.625rem);
    letter-spacing: -0.05ch;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    color: inherit;
}

a:is(.indicator):after {
    background-image: url(/images/external.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60% auto;
    block-size: 1em;
    content: "(external link)";
    content-visibility: hidden;
    display: inline-block;
    inline-size: 1em;
    overflow: hidden;
    position: absolute;
    text-indent: 1em;
    white-space: nowrap;
}

.link-underline {
    text-decoration: underline;
}

h1, h2, h3 {
    font-weight: 900;
    letter-spacing: -0.075ch;
    line-height: 1.2;
    font-family: 'RedHatDisplay-Medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 1.5em;
}

h1 {
	font-size: var(--size-step-6);
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

.gradient-text {
    background-clip: text;
    color: transparent;
    background-image: var(--gradient-conic);
    background-size: 50%;
    padding: .6rem 0;
}

.prose {
    --wrapperWidth: 64rem;
}

.full {
    grid-column: full;
}

.flow>*+*{
    margin-block-start: var(--flow-space);
}

.cluster {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gutter);
    justify-content: flex-start;
}

.text-center {
    text-align: center;
}

canvas, img, picture, svg {
    background-repeat: no-repeat;
    background-size: cover;
    block-size: auto;
    font-style: italic;
    max-inline-size: 100%;
    shape-margin: .75rem;
    vertical-align: middle;
}

article > pre {
  padding: 8px 16px;
  overflow-x: auto;
  border-radius: 4px;
  background: #343434;
}

pre > code {
  border-radius: 4px;
  font-family: 'RedHatMono-Regular', Consolas, Monaco, 'Andale Mono', monospace;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
}