---
const { frontmatter } = Astro.props;

import '../styles/global.css';

import HeaderComponent from "../components/HeaderComponent.astro";
import MainComponent from "../components/MainComponent.astro";
import Footer from "../components/Footer.astro";
import Metadata from '../components/Metadata.astro';
---

<html lang="en">
  <head>
    <Metadata
      slot="head"
      title={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.image.url}
      canonicalUrl="/"
      publishedTime={frontmatter.pubDate}
      type="article"
      />
  </head>
  <body
    style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;"
  >
    <HeaderComponent />
    <MainComponent>
      <article>
        <slot />
      </article>
    </MainComponent>
    <Footer />
  </body>
</html>